{% extends 'base.html.twig' %}

{% block title %}IMC Details{% endblock %}

{% block body %}
    <div class="container">
        <h1>IMC Details</h1>
        <a href="{{ path('imc_new') }}" class="btn btn-primary">add new imc</a>

        {% if imcRecords|length == 1 %}
            {# When there is only one IMC record #}
            {% set imc = imcRecords %}
            <p><strong>IMC:</strong> {{ imc.imc }}</p>
            <p><strong>Calories for Weight Gain:</strong> {{ imc.caloriesForWeightGain }}</p>
            <p><strong>Meal Details:</strong> {{ imc.mealDetails }}</p>
            <a href="{{ path('imc_edit', {'id': imc.id}) }}" class="btn btn-primary">Edit</a>
            <form method="post" action="{{ path('app_imc_delete', {'id': imc.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imc.id) }}">
                <button class="btn btn-danger">Delete</button>
            </form>
            <hr>
        {% else %}
            {# When there are multiple IMC records #}
            {% for imc in imcRecords %}
                <p><strong>IMC:</strong> {{ imc.imc }}</p>
                <p><strong>Calories for Weight Gain:</strong> {{ imc.caloriesForWeightGain }}</p>
                <p><strong>Meal Details:</strong> {{ imc.mealDetails }}</p>
                <a href="{{ path('imc_edit', {'id': imc.id}) }}" class="btn btn-primary">Edit</a>
                <form method="post" action="{{ path('app_imc_delete', {'id': imc.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imc.id) }}">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <hr>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
